/* General */
:root {
  --vermelho: #E50914;
  --grey-bg: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey-bg);
  font-family: 'Arial', Times, serif;
  color: white;
}

.container {
  width: 100%;
  max-width: 1245px;
  margin: auto;
}

/* Initial Page */

#initial-page {
  height: 100%;
  width: 100%;
  background-color: var(--grey-bg);
  z-index: 10;
  display: block;
  position: fixed;
}

#initial-header {
  display: flex;
  align-items: center;
  margin: auto;
  height: 68px;
  background-image: linear-gradient(to bottom,rgba(0,0,0, 0.7) 10%, rgba(0,0,0,0) 100%);
}

#initial-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: -80px ;
}

#initial-menu {
  margin: auto;
}

#initial-menu h1 {
  font-size: 52px;
}

#initial-menu .profiles {
  display: flex;
  width: 60%;
}

#initial-menu h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
}

#initial-menu .profile {
  margin-left: 16px;
  margin-right: 16px;
}

#initial-menu .profile img {
  border-radius: 6px;
}

#initial-menu .profile p {
  text-align: center;
  font-size: 18px;
  color: #999999;
  margin-top: 6px;
}

#initial-menu .profile:hover img {
  outline: 4px solid #ffffff;
  outline-offset: -4px;
  -moz-outline-radius: 6px;
}

#initial-menu .profile:hover p {
  color: #ffffff;
}

/* Header */
.superior-container {
  background-image: url('../img/cover.jpg');
  background-size: cover;
  height: 110vh;
  position: relative;
}

header {
  height: 68px;
  background-image: linear-gradient(to bottom,rgba(0,0,0, 0.7) 10%, rgba(0,0,0,0) 100%);
}

header div.container {
  height: 100%;
  display: flex;
  justify-content: space-between;

}

/* Left Header */

.logo {
  height: 48px;
}

.left-header {
  height: 100%;
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header nav a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  margin-left: 12px;
  color: #cccccc;
  transition: 1s ease all;
}

.left-header nav a:hover {
  color: #999999;
}

.left-header a.active {
  color: #ffffc9;
  font-weight: bold;
}

.left-header a.active:hover {
  color: #ffffc9;
}

/* Right Header */

.right-header {
  height: 100%;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-header a {
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
}

.right-header a.kids {
  font-size: 14px;
}

.right-header img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}

.right-header .profile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 52px;
  cursor: pointer;
  margin-left: -15px;
}

/* Main Card */
.main-card {
  width: 36%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-card img.title-logo {
  width: 60%;
  margin-top: 56px;
}

.watch-now {
  font-size: 24px;
  margin-top: 6px; 
  font-weight: bold;
  text-shadow: 2px 2px 4px var(--grey-bg);
}

.main-card .description {
  font-size: 20px;
  text-shadow: 2px 2px 2px var(--grey-bg);
  margin-top: 14px;
}

/* Buttons */
.buttons {
  margin-top: 24px;
}

.button-watch {
  padding: 12px 24px 12px 20px;
  margin-right: 6px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.button-watch p {
  float: right;
  margin-left: 12px;
  font-weight: bold;
}

.button-info {
  padding: 12px 24px 12px 20px;
  margin-right: 6px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color:rgba(109, 109, 110, 0.7);
  color: #ffffff;
  cursor: pointer;
}

.button-info p {
  float: right;
  margin-left: 12px;
  font-weight: bold;
}

.buttons button {
  transition: 0.2s ease;
}

.buttons button:hover {
  opacity: 0.70;
}

.box-filme {
  height: 30%;
  width: 30%;
  display: block;
}

/* Bottom Background */

#bottom-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 128px;
  background-image: linear-gradient(rgba(20, 20, 20, 0) 0px, 
                                    rgba(20, 20, 20, 0.15) 15%, 
                                    rgba(20, 20, 20, 0.35) 29%, 
                                    rgba(20, 20, 20, 0.58) 44%, rgb(20, 20, 20) 68%, 
                                    rgb(20, 20, 20) 100%);
}

/* Carousel */

.carousel {
  margin: auto;
  width: 100%;
  max-width: 1245px;
}

.carousel.first {
  margin-top: -128px;
}

.carousel .item {
  width: 100%;
}

.carousel .item img {
  border-radius: 4px;
}

.carousel h3 {
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
}