/* General */
:root {
  --vermelho: #E50914;
  --grey-bg: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey-bg);
  font-family: 'Arial', Times, serif;
  color: white;
}

.container {
  width: 100%;
  max-width: 1245px;
  margin: auto;
}

/* Header */
.superior-container {
  background-image: url('../img/serie_cover.png');
  background-size: cover;
  height: 110vh;
}

header {
  height: 68px;
  background-image: linear-gradient(to bottom,rgba(0,0,0, 0.7) 10%, rgba(0,0,0,0) 100%);
}

header div.container {
  height: 100%;
  display: flex;
  justify-content: space-between;

}

/* Left Header */

.logo {
  height: 48px;
}

.left-header {
  height: 100%;
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header nav a {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  margin-left: 12px;
  color: #cccccc;
  transition: 1s ease all;
}

.left-header nav a:hover {
  color: #999999;
}

.left-header a.active {
  color: #ffffc9;
  font-weight: bold;
}

.left-header a.active:hover {
  color: #ffffc9;
}

/* Right Header */

.right-header {
  height: 100%;
  width: 24%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-header a {
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
}

.right-header a.kids {
  font-size: 14px;
}

.right-header img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}

.right-header .profile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 52px;
  cursor: pointer;
  margin-left: -15px;
}

/* Main Card */
.main-card {
  width: 36%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-card img.title-logo {
  width: 60%;
  margin-top: 56px;
}

.watch-now {
  font-size: 24px;
  margin-top: 6px; 
  font-weight: bold;
  text-shadow: 2px 2px 4px var(--grey-bg);
}

.main-card .description {
  font-size: 20px;
  text-shadow: 2px 2px 2px var(--grey-bg);
  margin-top: 14px;
}

/* Buttons */
.buttons {
  margin-top: 24px;
}

.button-watch {
  padding: 12px 24px 12px 20px;
  margin-right: 6px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.button-watch p {
  float: right;
  margin-left: 12px;
  font-weight: bold;
}

.button-info {
  padding: 12px 24px 12px 20px;
  margin-right: 6px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color:rgba(109, 109, 110, 0.7);
  color: #ffffff;
  cursor: pointer;
}

.button-info p {
  float: right;
  margin-left: 12px;
  font-weight: bold;
}

.buttons button {
  transition: 0.2s ease;
}

.buttons button:hover {
  opacity: 0.70;
}

.box-filme {
  height: 30%;
  width: 30%;
  display: block;
}

.carrosel-filmes {
  margin-top: 5px;
}